/* Ce que l'on a fait */
.Title {
	color: #4B39C3;
	text-align: left;
	margin-top: 42px;
	font-size: 2em;
	font-family: inherit;
	margin-bottom: 17px;
}

fieldset {
	margin-bottom: 15px;
  padding: 10px;
}

.items {
	display: inline-block;
  vertical-align: top;
}

input[type=checkbox] {
  width: 10px;
}

.GeneResearch {
	height: 200px;
	width: 144px;
	overflow: auto;
}

.item {
	display: inline-block;
}

.row {
	margin-bottom: 20px;
	margin-top: 10px;
}

#tailleBouton {
	width: 84px;
}

#info {
	padding-bottom: 12px;
}

#infoChoix {
	font-size: 1.4em;
	padding: 0 20px 0 15px;
}

#choixUni {
	padding-right: 24px;
}

#hideRefseq{
	display: none;
}
#hideUnigene{
	display: none;
}


.highcharts-tooltip span {
    height:auto;
    width:auto;
    overflow: auto !important;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer {
	background-color:#0c1a1e;
	font-family: 'Open Sans', sans-serif;
}

footer p {
	color : #d9d6d6;
}

/*.footerleft {
	margin-top:50px;
	padding:0 36px;
}*/

.logofooter {
	margin-bottom : 10px;
	font-size : 25px;
	color : #d9d6d6;
	font-weight : 700;
	padding-top: 12px;
}

/*.footerleft p {
	color:#fff;
	font-size:12px !important;
	font-family: 'Open Sans', sans-serif;
	margin-bottom:15px;
}*/

/*.footerleft p i {
	width:20px;
	color:#999;
}*/

.paddingtop-bottom {
	margin-top:50px;
}

.footer-ul {
	list-style-type:none;
	margin-left:2px;
}

.footer-ul li {
	display: inline-block;
	line-height:29px;
	font-size:12px;
}

.footer-ul li a {
	color:##d9d6d6;
	transition: color 0.2s linear 0s, background 0.2s linear 0s;
}

.footer-ul i {
	margin-right:10px;
}

.footer-ul li a:hover {
	transition: color 0.2s linear 0s, background 0.2s linear 0s;
	color:#ff670f;
}

 .icon-ul {
	 list-style-type:none !important;
	 margin:0px;
	 padding:0px;
 }

 .icon-ul li {
	 line-height:75px;
	 width:100%;
	 float:left;
 }

 .icon {
	 float:left;
	 margin-right:5px;
 }

 .copyright {
	 min-height:40px;
	 background-color:#000000;
 }

 .copyright p {
	 text-align:left;
	 color:#FFF;
	 padding:10px 0;
	 margin-bottom:0px;
 }

 .heading7 {
	 font-size:21px;
	 font-weight:700;
	 color:#d9d6d6;
	 margin-bottom:22px;
 }

 /*.bottom_ul {
	 list-style-type:none;
	 float:right;
	 margin-bottom:0px;
 }

 .bottom_ul li {
	 float:left;
	 line-height:40px;
 }

 .bottom_ul li:after {
	 content:"/"; color:#FFF;
	 margin-right:8px;
	 margin-left:8px;
 }*/

 /*.bottom_ul li a {
	 color:#FFF;
	 font-size:12px;
 }*/

 #footer {
 	padding-top: 20px;
 }

 .titrePage {
    text-align: center;
}


/* Ce que l'on a récupéré  et modifié*/
.button {
	-webkit-appearance: none;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	border-radius: 5px;
	background: #d52349;
	color: #fff !important;
	font-weight: 700;
	outline: 0;
	-moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
	-ms-transition: background-color .25s ease-in-out;
	transition: background-color .25s ease-in-out;
}


.button:hover {
	background: #e53359;
}


.button:active {
	background: #c51349;
}

.button.alt {
	background: #252122;
}

/* Icons */

.icon {
	position: relative;
	text-decoration: none;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon > .label {
	display: none;
}

.icon.featured {
	position: relative;
	display: inline-block;
	background-color: #d52349;
	width: 9em;
	padding: 1.75em 0 0.75em 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin: 0 0 4.5em 0;
	cursor: default;
}

.icon.featured:before {
	font-size: 4.5em;
	line-height: 1em;
	color: #fff;
}

.icon.featured:after {
	content: '';
	position: absolute;
	bottom: -1.95em;
	left: 0;
	border-top: solid 2em #d52349;
	border-left: solid 4.5em transparent;
	border-right: solid 4.5em transparent;
}

.icon.featured.alt {
	background-color: #252122;
}

.icon.featured.alt:after {
	border-top-color: #252122;
}

.icon.featured.alt2 {
	background-color: #827a7c;
}

.icon.featured.alt2:after {
	border-top-color: #827a7c;
}


/* Banner */

#banner {
	background: #CCE8F4 ;
	background-image: url(/Vue/assets/images/adn.jpg);
	background-position: center;
	text-align: center;
}

#banner header {
	background-color: #252122;
	background-color: rgba(34, 30, 31, 0.98);
}

#banner header h2 {
	color: #fff;
	font-weight: 700;
}

#banner header p {
	color: #d52349;
	padding: 0;
	font-style: normal;
	margin: 0;
}


/* Intro */

#intro {
	text-align: center;
}


/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,

.button {
	font-size: 1.1em;
	padding: 0.65em 1.5em 0.65em 1.5em;
}

/*
gfvgfisfsfbsbsbsvsvbsvsbv
gfgfisfsfbsbsbsvsvbsvsbv
gfgfisfsfbsbsbsvsvbsvsbv
gfgfisfsfbsbsbsvsvbsvsbv
gfgfisfsfbsbsbsvsvbsvsbv
gfgfisfsfbsbsbsvsvbsvsbv
gfgfisfsfbsbsbsvsvbsvsb
gfvgfisfsfbsbsbsvsvbsvsbv
gfgfisfsfbsbsbsvsvbsvsbv
gfgfisfsfbsbsbsvsvbsvsbv
gfgfisfsfbsbsbsvsvbsvsbv
gfgfisfsfbsbsbsvsvbsvsbv
gfgfisfsfbsbsbsvsvbsvsbv
gfgfisfsfbsbsbsvsvbsvsb
gfvgfisfsfbsbsbsvsvbsvsbv
gfgfisfsfbsbsbsvsvbsvsbv
gfgfisfsfbsbsbsvsvbsvsbv
gfgfisfsfbsbsbsvsvbsvsbv
gfgfisfsfbsbsbsvsvbsvsbv
gfgfisfsfbsbsbsvsvbsvsbv
gfgfisfsfbsbsbsvsvbsvsb

*/

input[type="button"].big,
input[type="submit"].big,
input[type="reset"].big,
button.big,

.button.big {
	font-size: 1.5em;
	padding: 0.75em 1.5em 0.75em 1.5em;
}

/* List */

ul.actions li {
	display: inline-block;
	margin-left: 1em;
}

ul.actions li:first-child {
	margin-left: 0;
}

ul.links li {
	display: inline-block;
	border-left: solid 1px rgba(255, 255, 255, 0.05);
	padding: 0 0 0 1em;
	margin: 0 0 0 1em;
}

ul.links li:first-child {
	border-left: 0;
	padding-left: 0;
	margin-left: 0;
}

ul.social {
	margin: 0 0 3.25em 0;
}

ul.social li {
	margin-left: 0.75em;
}

/* Wrappers */

#header-wrapper {
	padding: 20px 0 0 0;
}

#main-wrapper {
	padding: 4em 0 4em 0;
}

/* Header */

#header {
	text-align: center;
}



#header h1 {
	color: black;
	font-weight: 900;
	font-size: 4em;
	letter-spacing: 0.17em;
	margin: 0 0 24px 0;
	text-decoration: none !important;
}

#header h1:focus a {
	color: #23527c;
	text-decoration: none !important;
}

#header h1:hover a {
	color: #23527c;
	text-decoration: none !important;
}



/* Nav */

#nav > ul {
	margin: 0;
}

#nav > ul > li {
	display: inline-block;
	font-style: italic;
	margin: 0 0.35em 0 0.35em;
}

#nav > ul > li > ul {
	display: none;
}

#nav > ul > li > a {
	border-radius: 5px;
	color: #5d5d5d;
	text-decoration: none;
	padding: 0.6em 1.2em 0.6em 1.2em;
	-moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
	-ms-transition: background-color .25s ease-in-out;
	transition: background-color .25s ease-in-out;
	outline: 0;
}

#nav > ul > li:hover > a, #nav > ul > li.active > a {
	background: #f3f3f3;
}

/*.navi > ul > li.current > a {
	background: #d52349;
	color: #fff !important;
	font-weight: 700;
}
*/


/* Banner */

#banner {
	padding: 4em 0;
	margin: 2em 0 0 0;
}


#banner header {
	display: inline-block;
	padding: 2em 3em;
	border-radius: 17px;
}

#banner header h2 {
	font-size: 3em;
	margin: 0 0 0.2em 0;
}

#banner header p {
	font-size: 2em;
}

/* Intro */

#intro {
	overflow: hidden;
}

#intro section {
	margin: 3em 0;
	padding: 2.5em 0;
}

#intro h2 {
	font-size: 1.75em;
}

#intro p {
	margin: 0;
}

#intro .middle {
	position: relative;
	z-index: 1;
}

#intro .middle:before {
	content: '';
	width: 32px;
	height: 100%;
	position: absolute;
	left: -24px;
	top: 0;
	display: block;
	z-index: -1;
	box-shadow: 32px 0 0 0 #fff, 0 -32px 0 0 #fff, 0 32px 0 0 #fff, 32px 32px 0 0 #fff, 32px -32px 0 0 #fff, 0 0 32px 0 rgba(0, 0, 0, 0.15);
}

#intro .middle:after {
	content: '';
	width: 32px;
	height: 100%;
	position: absolute;
	right: -24px;
	top: 0;
	display: block;
	z-index: -1;
	box-shadow: -32px 0 0 0 #fff, 0 -32px 0 0 #fff, 0 32px 0 0 #fff, -32px 32px 0 0 #fff, -32px -32px 0 0 #fff, 0 0 32px 0 rgba(0, 0, 0, 0.15);
}

#intro .button {
	min-width: 12em;
}

#intro footer {
	margin: 0;
}




/* Mobile */

#navPanel, #titleBar {
	display: none;
}

@media screen and (max-width: 736px) {

/* Basic */

html, body {
	overflow-x: hidden;
}

body, input, textarea, select {
	line-height: 1.75em;
	font-size: 11pt;
	letter-spacing: 0;
}

h2, h3, h4, h5, h6 {
	font-size: 1.25em;
}

/* Intro */

#intro {
	padding: 0 25px 0 25px;
}

#intro section {
	position: relative;
	border-top: solid 1px #dfdfdf;
	padding: 2.5em 0 0 0;
	margin: 1.5em 0 0 0 !important;
}

#intro section.first {
	border-top: 0;
	padding-top: 0;
}

#intro section p {
	margin: 0;
}

/* Header */

#header {
	text-align: center;
}

#header h1 {
	color: #252122;
	font-weight: 900;
	font-size: 1.75em;
	letter-spacing: -0.035em;
}


/* Banner */

#banner header {
	padding: 1.5em 1em 1.5em 1em;
}

#banner header h2 {
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 0 0 0.25em 0;
}

#banner header p {
	font-size: 1.2em;
}
