{% extends 'layout.twig' %}

{% block title %}Alketta{% endblock title %}

{% block contenu %}
<br>
<h4>It's possible for you to upload a CSV file to compare your work with the expression for specific tissues and genes.</h4>
<p>To do so you must inport a CSV file which contains in the first column the UNigen Code, in the second your tissues and in the last the rate of expression.</p>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="glyphicon glyphicon-save"></i>Example format of the csv file</h3>
  </div>
  <div class="panel-body">
CodeUnigene1 ; Tissus1 ; corresponding rate expression  </div>
  <div class="panel-body">
CodeUnigene2 ; Tissus1 ; corresponding rate expression  </div>
  <div class="panel-body">
CodeUnigene1 ; Tissus2 ; corresponding rate expression  </div>
  <div class="panel-body">
    ... ; ... ; ...
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Example</h3>
  </div>
  <div class="panel-body">
    Hs.198562;Bone;3.9578
  </div>
  <div class="panel-body">
    Hs.198562;Brain;0.9578
  </div>
  <div class="panel-body">
    Hs.255489;Bone;15.2365
  </div>
  <div class="panel-body">
    ... ; ... ; ...
  </div>
</div>

<form method="post" enctype="multipart/form-data" action="recupererInfoCSV">

  <div>
    <input type="file" name="fichier"/><br>
    <input type="submit" value="Envoyer" />
    <p></p>
  </div>
</form>
{% if resultats is defined %}
{# {{ dump(resultats) }} #}
<br>
<br>
<br>
<div>
  <a id="dl" href='#dl' class="btn btn-primary" onclick='downloadCSV({filename:"export.csv"});'>
    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
    Download CSV
  </a>
</div>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Gene</th>
      <th>Tissue</th>
      <th>Rate Expression Sent</th>
      <th>Rate Expression in Database</th>
      <th>Difference</th>
      <th>Valeur Absolue Diff</th>
    </tr>
  </thead>
  <tbody>
    {% for resultat in resultats %}
    <tr class="
    {% if resultat.txExpressionFichier - resultat.txExpressionDB  > 0 and resultat.txExpressionDB != 0 %}
    info
    {% elseif resultat.txExpressionFichier - resultat.txExpressionDB  < 0 and resultat.txExpressionDB != 0 %}
    warning
    {% elseif resultat.txExpressionDB == 0 %}
    danger
    {% endif %}
    ">
      <td>{{ resultat.gene }}</td>
      <td>{{ resultat.tissu }}</td>
      <td>{{ resultat.txExpressionFichier }}</td>
      <td>
        {% if resultat.txExpressionDB != 0 %}
          {{ resultat.txExpressionDB }}
        {% else %}
          No result found in database
        {% endif %}
      </td>
      <td>{{ resultat.txExpressionFichier - resultat.txExpressionDB }}</td>
      <td>{{ (resultat.txExpressionFichier - resultat.txExpressionDB)|abs }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>

<script>

let tabRes = {{ copieResultats | raw}};
//console.log(tabRes);

genesSet = new Set();
for (res of tabRes) {
  genesSet.add(res.idgene);
}
//console.log(genesSet);

let tabTissus = {};
for (gene of genesSet) {
  let tissusDuGene = [];
  for (res of tabRes) {
    if (res.idgene === gene) {
      tissusDuGene.push(res.tissu);
    }
  }
  tabTissus[gene] = tissusDuGene;
}
//console.log(tabTissus);

let valeurs = {};
for (gene of genesSet) {
  let expressionDB = tabRes.filter(function (elem) {
    return elem.idgene === gene;
  }).map(function (elem) {
    return elem.txExpressionDB;
  });

  let expressionFichier = tabRes.filter(function (elem) {
    return elem.idgene === gene;
  }).map(function (elem) {
    return elem.txExpressionFichier;
  });

  let valeur = {
    name: 'Database',
    data: expressionDB,
    pointPlacement: 'on'
  }
  let valeur2 = {
    name: 'file',
    data: expressionFichier,
    pointPlacement: 'on'
  }

  valeurs[gene] = [valeur, valeur2];
}
console.log(valeurs);


</script>

{% for id, nom in genes %}

{% if id|length < 10 %}

<div id="graphique{{ id }}" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div>

<script>
  Highcharts.chart('graphique{{ id }}', {

      chart: {
          polar: true,
          type: 'line'
      },

      title: {
          text: 'Gene expression : {{ nom }}',
          x: -80
      },

      pane: {
          size: '80%'
      },

      xAxis: {
          categories: tabTissus[{{id}}],
          tickmarkPlacement: 'on',
          lineWidth: 0
      },

      yAxis: {
          gridLineInterpolation: 'polygon',
          lineWidth: 0,
          min: 0
      },

      tooltip: {
          shared: true,
          pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.2f}</b><br/>'
      },

      legend: {
          align: 'right',
          verticalAlign: 'top',
          y: 70,
          layout: 'vertical'
      },

      series: valeurs[{{id}}]

  });

</script>

{% endif %}

{% endfor %}

<script>
  //console.log(tabRes);



  function tabExpObj(gene, tissue, rateExpF, rateExpD){
    this.gene = gene;
    this.tissue = tissue;
    this.rateExpressionFichier = rateExpF;
    this.rateExpressionDatabase = rateExpD;
    this.difference = rateExpF - rateExpD;
    this.abs = Math.abs(rateExpF - rateExpD);
  }

  var stock = [];

  for (info of tabRes) {
    stock.push(new tabExpObj(info.gene, info.tissu, info.txExpressionFichier, info.txExpressionDB));
  }
  //console.log(stock);

    var stockData = stock;

  function convertArrayOfObjectsToCSV(args) {
          var result, ctr, keys, columnDelimiter, lineDelimiter, data;
          data = args.data || null;
          if (data == null || !data.length) {
              return null;
          }

          columnDelimiter = args.columnDelimiter || ',';
          lineDelimiter = args.lineDelimiter || '\n';

          keys = Object.keys(data[0]);

          result = '';
          result += keys.join(columnDelimiter);
          result += lineDelimiter;

          data.forEach(function(item) {
              ctr = 0;
              keys.forEach(function(key) {
                  if (ctr > 0) result += columnDelimiter;

                  result += item[key];
                  ctr++;
              });
              result += lineDelimiter;
          });

          return result;
      }

      function downloadCSV(args) {
          var data, filename, link;
          //console.log('ici');
          var csv = convertArrayOfObjectsToCSV({
              data: stockData
          });
          //console.log(stockData);
          if (csv == null) return;

          filename = args.filename || 'export.csv';

          if (!csv.match(/^data:text\/csv/i)) {
              csv = 'data:text/csv;charset=utf-8,' + csv;
          }
        data = encodeURI(csv);
         csvData = decodeURIComponent(data);

        link = document.createElement('a');
        link.setAttribute('href', data);
        link.setAttribute('download', filename);
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      //  console.log(data);
      }

</script>

{% endif %}
{% endblock contenu %}
