{% extends 'layout.twig' %}

{% block contenu %}
<!-- Intro -->
<section class="container">
    <div class="row">
        <div class="col-md-6">
                <h2>Our Database</h2>
                <p>Alketta is based on the <b><abbr title="Tissue-specific Gene Expression and Regulation">TiGER</abbr> database</b>, which provides three different views : the gene view, the TF view and the tissue view.</p>
                <p>Currently, the database contains tissue-specific expression profiles for about <b>20&nbsp;000 UniGene genes</b>, combinatorial regulation for <b>7&nbsp;341 interacting transcription factor (TF) pairs</b>, and <b>6&nbsp;232 cis-regulatory modules (CRMs)</b> for tissue-specific genes.</p>
        </div>
        <div class="col-md-6">
                <h2>What features provides AlKetta&nbsp;?</h2>
                <p>Alketta provides a comparison service for bioinformaticians. It allows users to compare a gene expression from a subject to the reference gene expression in our database. You can compare gene expressions by tissue.</p>
                <p>This app allows you to download your results by clicking on the menu in the top right of the graph. This menu gives you the choice to download a png picture of the results, a PDF file or other formats.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
                <h2>Comparing my genes</h2>
                <p>To compare your genes, you need to upload your genes expressions in CSV format. You'll need to respect the following format&nbsp;:
                <ol>
                  <li>In the first column indicate the UnigeneCode (Hs. number)</li>
                  <li>Then the tissu name</li>
                  <li>Finally, the expression.</li>
                </ol>
                <p>To be understandable by our parsing system don't forget to put ";" between columns. Please don't put spaces.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
                <h2>You don't find your gene&nbsp;?</h2>
                <p>It's possible that your study gene does not exist inside our database. The website actually uses the TiGER database on the specific-tissu genes, we hope to <b>improve our service in the near future by adding other databases</b>. Please come back in a while, it won't be long.&nbsp;;)</p>
        </div>
        <div class="col-md-4">
                <h2>Having an issue&nbsp;?</h2>
                <p>If you encounter an issue during your experience on our website, please <b><a href="mailto:info@alketta.com">send an e-mail</a></b>. We will respond as soon as we can.</p>
        </div>
        <div class="col-md-4">
                <h2>Support us</h2>
                <p>If you enjoy your experience you can <b>support us</b> to improve our website by sending a contribution. You just need to contact us by clicking on <a href="mailto:info@alketta.com">this link</a>.</p>
        </div>
      </div>
    </div>
</section>

{% endblock contenu %}
