<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %}Alketta{% endblock title %}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ app.asset_path }}/css/main.css" />
	<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">

	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body>
  <div id="header-wrapper">
  <div id="header">
  	<h1><a href="index.php">AlKetta</a></h1>
  	<nav class="navi" id="nav">
  		<ul>
  			<li class="current">
					<button class="btn btn-default dropdown-toggle" type="button" id="home" data-toggle="dropdown" onclick="self.location.href='index.php'" aria-haspopup="true" aria-expanded="true"><i class="glyphicon glyphicon-home"></i> Home </button>
				<li>
					<div class="dropdown">
  					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="glyphicon glyphicon-eye-open"></i> Gene Expression in Tissues
    					<span class="caret"></span>
  					</button>
  					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
  						<li><a href="/PageTissue"><i class="glyphicon glyphicon-stats"></i> Histogram</a></li>
							<li><a href="/Visualisation"><i class="glyphicon glyphicon-equalizer"></i> Cumulative Histogram </a></li>
  					</ul>
					</div>
				</li>
				<li><button class="btn btn-default dropdown-toggle" type="button" id="home" data-toggle="dropdown" onclick="self.location.href='/EntrerTauxExpression'" aria-haspopup="true" aria-expanded="true"><i class="glyphicon glyphicon-th-list"></i> Profil comparison </button></li>
				<!--<li><button class="btn btn-default dropdown-toggle" type="button" id="home" data-toggle="dropdown" onclick="self.location.href='/PageGraphiqueEtoile'" aria-haspopup="true" aria-expanded="true"><i class="glyphicon glyphicon-star-empty"></i> Graphic Star </button></li>-->
				<li><button class="btn btn-default dropdown-toggle" type="button" id="home" data-toggle="dropdown" onclick="self.location.href='/Help'" aria-haspopup="true" aria-expanded="true"><i class="glyphicon glyphicon-question-sign"></i> Help </button></li>
			</ul>
  	</nav>

  	<section id="banner">
  		<header>
  			<h2>Gene Expression Profiles</h2>
  			<p>With the database: TiGER</p>
  		</header>
  	</section>
  </div>
</div>
  <div class="container">
  {% block contenu %}
  {% endblock contenu %}
</div>
<!-- <script>
$('.navi').find('.current').removeClass('current');
$('.navi > li:nth-child(2)').addClass('current');
</script> -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 ">
        <div class="logofooter">Contact us</div>
        <p>I never lose, I either win or I learn</p>
        <p><i class="fa fa-map-pin"></i> Université de Nantes, 44000 Nantes, France</p>
        <p><i class="fa fa-envelope"></i> E-mail : <a href="mailto:info@alketta.com">info@alketta.com</a></p>

      </div>
      <div class="col-md-6 ">
				<div class="logofooter">Social Media</div>
        <!-- <h6 class="heading7">General Links</h6> -->
	        <ul class="footer-ul">
						<li>
							<a href="https://www.facebook.com" title="Facebook"><img src="Vue/assets/images/facebook.png" width="32" border="0" alt="Facebook"><span class="hidden">Facebook</span><i class="icon-instagram roundIcon__icon"></i></a>
						</li>
						<li>
							<a href="https://twitter.com" title="Twitter"><img src="Vue/assets/images/twitter.png" width="32" border="0" alt="Twitter"><span class="hidden">Twitter</span><i class="icon-instagram roundIcon__icon"></i></a>
						</li>
						<li>
							<a href="https://www.linkedin.com" title="Linkedin"><img src="Vue/assets/images/linkedin.png" width="32" border="0" alt="Linkedin"><span class="hidden">Linkedin</span><i class="icon-instagram roundIcon__icon"></i></a>
						</li>
					</ul>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

	<div class="copyright">
	  <div class="container">
	    <div class="col-md-6">
	      <p>© Plantus Enterprise 2016 - All Rights Reserved</p>
	    </div>
	    <!-- <div class="col-md-6">
	      <ul class="bottom_ul">
	        <li><a href="#">Plantus.com</a></li>
	        <li><a href="#">About us</a></li>
	        <li><a href="#">Faq's</a></li>
	        <li><a href="#">Contact us</a></li>
	      </ul>
	    </div> -->
	  </div>
	</div>
</body>
</html>
