{% extends 'layout.twig' %}

{% block contenu %}
<!-- Intro -->
<section id="intro" class="container">
	<div class="row">
		<div class="4u 12u(mobile)">
			<section class="first">
				<i class="icon featured fa-cog"></i>
				<header>
					<h2></i>The   <strong>Alketta</strong>   project</h2>
				</header>
				<p>Alketta is a web app which allows scientists to visualize gene expressions. We have about 20,000 genes and their expressions in 30 tissues.</p>
				<p>This app also allows to compare the profile of "patients" to a profile of references calculated with our data, which comes from the TiGER database.</p>
			</section>
		</div>
		<div class="4u 12u(mobile)">
			<section class="middle">
				<i class="icon featured alt fa-flash"></i>
				<header>
					<h2><i class="glyphicon glyphicon-user"></i> Creators</h2>
				</header>
				<p>Alketta was created by a young and ambitious team of four students in bioinformatics from the University of Nantes in France as part of a school project.</p>
			</section>
		</div>
		<div class="4u 12u(mobile)">
			<section class="last">
				<i class="icon featured alt2 fa-star"></i>
				<header>
					<h2><i class="glyphicon glyphicon-info-sign"></i> Thanks</h2>
				</header>
				<p>Bioinformatics Lab @ Wilmer Institute, Johns Hopkins University</p>
				<p>Datas are avaible on the website TiGER.</p>
				<p><a href="http://bioinfo.wilmer.jhu.edu/tiger/">TiGER</a></p>

			</section>
		</div>
	</div>
</section>

{% endblock contenu %}
