<!-- En cours de dévellopement -->

{% extends 'layout.twig' %}

{% block title %}Sort{% endblock title %}

{% block contenu %}
<p> Ca Marche </p>


<h1 class="Title">Sort by Tissues</h1>
<div class="row">

<form method="post" action="PageGraphiqueEtoile" class="form-horizontal">
  <fieldset>
    <legend>Choose the tissues that you're interessed in&nbsp;:</legend>
    <div class="col-md-3">
      {% for tissu in tabTissus | slice(0,8) %}
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input class="itemTissus" type="checkbox" name="tissu[]" value="{{ tissu.idTissu }}"/> {{ tissu.nomTissu }}
          </label>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-3">
      {% for tissu in tabTissus | slice(8,8) %}
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input class="itemTissus" type="checkbox" name="tissu[]" value="{{ tissu.idTissu }}"/> {{ tissu.nomTissu }}
          </label>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-3">
      {% for tissu in tabTissus | slice(16,8) %}
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input class="itemTissus" type="checkbox" name="tissu[]" value="{{ tissu.idTissu }}"/> {{ tissu.nomTissu }}
          </label>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-3">
      {% for tissu in tabTissus | slice(24,8) %}
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input class="itemTissus" type="checkbox" name="tissu[]" value="{{ tissu.idTissu }}" id="{{ tissu.idTissu }}"/> {{ tissu.nomTissu }}
          </label>
        </div>
      </div>
      {% endfor %}
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="selectAllTissues"/> Select All Tissues
          </label>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Choose the genes that you're interessed in&nbsp;:</legend>
    <p>Select with Unigene</p>
      <div class="col-md-5 GeneResearch">
        {% for gene in tabGenes | sort %}
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input class="item" type="checkbox" name="UniGene[]" value="{{ gene.idGene }}"/> {{ gene.uniGene }}
            </label>
          </div>
        </div>
        {% endfor %}
      </div>
  </fieldset>

  <div id="tailleBouton">
    <button id="Poitou" type="submit" class="btn btn-primary btn-lg ">Submit</button>
  </div>
</form>
<script>
// Select All checkbox
  $("#selectAllTissues").change(function(){
      $(".itemTissus").prop('checked', $(this).prop('checked'));
  });

  // Bonus : uncheck selectAll when one element is uncheck
  $(".itemTissus").change(function(){
      if (!$(this).prop("checked")){
          $("#selectAllTissues").prop("checked",false);
      }
  });

</script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

{% if tabObjectTissu is defined %}


<script>
// Récupération des objets envoyés via le formaulaire
tableTissus = {{ tabObjectTissu | raw}};
tableGenes = {{tabObjectGene | raw}};
tableTaux = {{tabTaux | raw}};

// Création variable contenant un objet
var tabResultat = [];

// Sauvegarde au sein de la var : nomGene, nomTissu et le taux associé
for (elem of tableTaux) {
  let unigene = '';
  for (gene of tableGenes) {
    if (gene.idGene === elem.idGene) {
      unigene = gene.uniGene;
    }
  }

  let nomTissu = '';
  for (tissu of tableTissus) {
    if (tissu.idTissu === elem.idTissue) {
      nomTissu = tissu.nomTissu;
    }
  }

  elemFinal = {
    infoNomGene: unigene,
    infoNomTissu: nomTissu,
    infoTauxExpression: elem.tauxExpression
  };
  tabResultat.push(elemFinal);
}


// Création d'un ensemble (évite doublons)

let categoriesGenes = new Set();
for (var i = 0; i < tabResultat.length; i++) {
  categoriesGenes.add(tabResultat[i].infoNomGene);
}




// Création d'un objet
let list = [];

// Création d'un ensemble (évite doublons)
// Map permet de créer une régle sur la var nomsGene
// https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/Array/map
let nomsGene = new Set(tabResultat.map(function(elem) {
  return elem.infoNomTissu;
}));

// Pour chaque gene present dans l'ensemble
for (nomGene of nomsGene) {
  // Permet de filtrer les résultats selon le Tissu
  let elemListGene = tabResultat.filter(function(elem) {
    // console.log(elem);
    return elem.infoNomTissu == nomGene;
  });
  //  console.log(elemListGene);
  //  console.log('ici');
  list.push(elemListGene);
}
let donneesFinales = [];

// Création du format attendu de nos données
for (elem of list) {
  let tauxExpression = elem.map(function(souselem) {
    // Transforme string en float
    return parseFloat(souselem.infoTauxExpression);
  });
  // Selon la taille de la liste des gènes et si aucun taux est renseigné, on ajoute 0 à cet emplacement
  while (tauxExpression.length < nomsGene.length) {
    tauxExpression.push(0);
  }
  let sseries = {
  name: elem[0].infoNomTissu,
  data: tauxExpression
}
  donneesFinales.push(sseries);
//  console.log('taux expression');
  //console.log(tauxExpression);

}

</script>

<div id="container" style="min-width: 420px; max-width: 600px; height: 400px; margin: 0 auto"></div>

<div style="display:none">
    Source: http://or.water.usgs.gov/cgi-bin/grapher/graph_windrose.pl
    <table id="freq" border="0" cellspacing="0" cellpadding="0">
        <tr nowrap bgcolor="#CCCCFF">
            <th colspan="9" class="hdr">Table of Frequencies (percent)</th>
        </tr>
        <tr nowrap bgcolor="#CCCCFF">
            <th class="freq"></th>
            <th class="freq">&lt; 0.5 m/s</th>
            <th class="freq">0.5-2 m/s</th>
            <th class="freq">2-4 m/s</th>
            <th class="freq">4-6 m/s</th>
            <th class="freq">6-8 m/s</th>
            <th class="freq">8-10 m/s</th>
            <th class="freq">&gt; 10 m/s</th>
            <th class="freq">Total</th>
        </tr>

        <tr nowrap>
            <td class="dir">N</td>
            <td class="data">1.81</td>
            <td class="data">1.78</td>
            <td class="data">0.16</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">3.75</td>
        </tr>
        <tr nowrap bgcolor="#DDDDDD">
            <td class="dir">NNE</td>
            <td class="data">0.62</td>
            <td class="data">1.09</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">1.71</td>
        </tr>
        <tr nowrap>
            <td class="dir">NE</td>
            <td class="data">0.82</td>
            <td class="data">0.82</td>
            <td class="data">0.07</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">1.71</td>
        </tr>
        <tr nowrap bgcolor="#DDDDDD">
            <td class="dir">ENE</td>
            <td class="data">0.59</td>
            <td class="data">1.22</td>
            <td class="data">0.07</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">1.88</td>
        </tr>
        <tr nowrap>
            <td class="dir">E</td>
            <td class="data">0.62</td>
            <td class="data">2.20</td>
            <td class="data">0.49</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">3.32</td>
        </tr>
        <tr nowrap bgcolor="#DDDDDD">
            <td class="dir">ESE</td>
            <td class="data">1.22</td>
            <td class="data">2.01</td>
            <td class="data">1.55</td>
            <td class="data">0.30</td>
            <td class="data">0.13</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">5.20</td>
        </tr>
        <tr nowrap>
            <td class="dir">SE</td>
            <td class="data">1.61</td>
            <td class="data">3.06</td>
            <td class="data">2.37</td>
            <td class="data">2.14</td>
            <td class="data">1.74</td>
            <td class="data">0.39</td>
            <td class="data">0.13</td>
            <td class="data">11.45</td>
        </tr>
        <tr nowrap bgcolor="#DDDDDD">
            <td class="dir">SSE</td>
            <td class="data">2.04</td>
            <td class="data">3.42</td>
            <td class="data">1.97</td>
            <td class="data">0.86</td>
            <td class="data">0.53</td>
            <td class="data">0.49</td>
            <td class="data">0.00</td>
            <td class="data">9.31</td>
        </tr>
        <tr nowrap>
            <td class="dir">S</td>
            <td class="data">2.66</td>
            <td class="data">4.74</td>
            <td class="data">0.43</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">7.83</td>
        </tr>
        <tr nowrap bgcolor="#DDDDDD">
            <td class="dir">SSW</td>
            <td class="data">2.96</td>
            <td class="data">4.14</td>
            <td class="data">0.26</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">7.37</td>
        </tr>
        <tr nowrap>
            <td class="dir">SW</td>
            <td class="data">2.53</td>
            <td class="data">4.01</td>
            <td class="data">1.22</td>
            <td class="data">0.49</td>
            <td class="data">0.13</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">8.39</td>
        </tr>
        <tr nowrap bgcolor="#DDDDDD">
            <td class="dir">WSW</td>
            <td class="data">1.97</td>
            <td class="data">2.66</td>
            <td class="data">1.97</td>
            <td class="data">0.79</td>
            <td class="data">0.30</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">7.70</td>
        </tr>
        <tr nowrap>
            <td class="dir">W</td>
            <td class="data">1.64</td>
            <td class="data">1.71</td>
            <td class="data">0.92</td>
            <td class="data">1.45</td>
            <td class="data">0.26</td>
            <td class="data">0.10</td>
            <td class="data">0.00</td>
            <td class="data">6.09</td>
        </tr>
        <tr nowrap bgcolor="#DDDDDD">
            <td class="dir">WNW</td>
            <td class="data">1.32</td>
            <td class="data">2.40</td>
            <td class="data">0.99</td>
            <td class="data">1.61</td>
            <td class="data">0.33</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">6.64</td>
        </tr>
        <tr nowrap>
            <td class="dir">NW</td>
            <td class="data">1.58</td>
            <td class="data">4.28</td>
            <td class="data">1.28</td>
            <td class="data">0.76</td>
            <td class="data">0.66</td>
            <td class="data">0.69</td>
            <td class="data">0.03</td>
            <td class="data">9.28</td>
        </tr>
        <tr nowrap bgcolor="#DDDDDD">
            <td class="dir">NNW</td>
            <td class="data">1.51</td>
            <td class="data">5.00</td>
            <td class="data">1.32</td>
            <td class="data">0.13</td>
            <td class="data">0.23</td>
            <td class="data">0.13</td>
            <td class="data">0.07</td>
            <td class="data">8.39</td>
        </tr>
        <tr nowrap>
            <td class="totals">Total</td>
            <td class="totals">25.53</td>
            <td class="totals">44.54</td>
            <td class="totals">15.07</td>
            <td class="totals">8.52</td>
            <td class="totals">4.31</td>
            <td class="totals">1.81</td>
            <td class="totals">0.23</td>
            <td class="totals">&nbsp;</td>
        </tr>
    </table>
</div>'
<script>
// Parse the data from an inline table using the Highcharts Data plugin
Highcharts.chart('container', {
    data: {
        table: 'freq',
        startRow: 1,
        endRow: 17,
        endColumn: 7
    },

    chart: {
        polar: true,
        type: 'column'
    },

    title: {
        text: 'Representation of expression rate of gene and tissue selectionned'
    },

    pane: {
        size: '100%'
    },

    legend: {
        align: 'right',
        verticalAlign: 'top',
        y: 100,
        layout: 'vertical'
    },

    xAxis: {
        tickmarkPlacement: 'on'
    },

    yAxis: {
        min: 0,
        endOnTick: false,
        showLastLabel: true,
        title: {
            text: 'Frequency (%)'
        },
        labels: {
            formatter: function () {
                return this.value + '%';
            }
        },
        reversedStacks: false
    },

    tooltip: {
        valueSuffix: '%'
    },

    plotOptions: {
        series: {
            stacking: 'normal',
            shadow: false,
            groupPadding: 0,
            pointPlacement: 'on'
        }
    }
});
</script>
{% endif %}

{% endblock contenu %}
