
{% extends 'layout.twig' %}

{% block title %}Alketta{% endblock title %}

{% block contenu %}

<h1 class="titrePage"> Cumulative Histogram <h1>

<h1 class="Title">Sort by Tissues</h1>
<div class="row">

<form id="data" method="post" action="Visualisation" class="form-horizontal">
  <fieldset>
    <legend>Choose the tissues that you're interessed in&nbsp;:</legend>
    <div class="col-md-3">
      {% for tissu in tabTissus | slice(0,8) %}
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input class="itemTissus" type="checkbox" name="tissu[]" value="{{ tissu.idTissu }}"/> {{ tissu.nomTissu }}
          </label>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-3">
      {% for tissu in tabTissus | slice(8,8) %}
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input class="itemTissus" type="checkbox" name="tissu[]" value="{{ tissu.idTissu }}"/> {{ tissu.nomTissu }}
          </label>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-3">
      {% for tissu in tabTissus | slice(16,8) %}
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input class="itemTissus" type="checkbox" name="tissu[]" value="{{ tissu.idTissu }}"/> {{ tissu.nomTissu }}
          </label>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-3">
      {% for tissu in tabTissus | slice(24,8) %}
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input class="itemTissus" type="checkbox" name="tissu[]" value="{{ tissu.idTissu }}" id="{{ tissu.idTissu }}"/> {{ tissu.nomTissu }}
          </label>
        </div>
      </div>
      {% endfor %}
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="selectAllTissues"/> Select All Tissues
          </label>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Choose the genes that you're interessed in&nbsp;:</legend>
    <div>
      <div id="info" class="radio">
        <span id="infoChoix">Select your gene according to the code :</span>
        <label id="choixUni">
          <input value="UniGene" name="hope" type="radio"> Unigene
        </label>
        <label>
          <input value="RefSeq" name="hope" type="radio"> RefSeq
        </label>
      </div>
    </div>

    <div class="UniGene test" id="hideUnigene">
      <p>Select with Unigene</p>
        <div class="col-md-5 GeneResearch">
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="selectAllUnigene"/> Select All Unigene
              </label>
            </div>
          </div>
          {% for gene in tabGenes | sort %}
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input class="itemUnigene" type="checkbox" name="UniGene[]" value="{{ gene.idGene }}"/> {{ gene.uniGene }}
              </label>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="RefSeq test" id="hideRefseq">
      <p>Select with RefSeq</p>
        <div class="col-md-5 GeneResearch">
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="selectAllRefseq"/> Select All RefSeq
              </label>
            </div>
          </div>
          {% for gene in tabGenes %}
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input class="itemRefseq" type="checkbox" name="RefSeq[]" value="{{ gene.idGene }}"/> {{ gene.refSeq }}
                </label>
              </div>
            </div>
          {% endfor %}
        </div>
    </div>
  </fieldset>


  <div id="tailleBouton">
    <button id="Poitou" type="submit" class="btn btn-primary btn-lg" disabled>Submit</button>
  </div>
</form>

</div>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">

<script>

  // Select All checkbox Tissus
  $("#selectAllTissues").change(function(){
      $(".itemTissus").prop('checked', $(this).prop('checked'));
  });

  // Bonus : uncheck selectAll when one element is uncheck
  $(".itemTissus").change(function(){
      if (!$(this).prop("checked")){
          $("#selectAllTissues").prop("checked",false);
      }
  });

  // Select All checkbox Unigene
  $("#selectAllUnigene").change(function(){
      $(".itemUnigene").prop('checked', $(this).prop('checked'));
  });

  // Bonus : uncheck selectAll when one element is uncheck
  $(".itemUnigene").change(function(){
      if (!$(this).prop("checked")){
          $("#selectAllUnigene").prop("checked",false);
      }
  });

  // Select All checkbox RefSeq
  $("#selectAllRefseq").change(function(){
      $(".itemRefseq").prop('checked', $(this).prop('checked'));
  });

  // Bonus : uncheck selectAll when one element is uncheck
  $(".itemRefseq").change(function(){
      if (!$(this).prop("checked")){
          $("#selectAllRefseq").prop("checked",false);
      }
  });

  // Création variables d'état
  valideTissu = false;
  valideUnigene = false;
  valideRefseq = false;

  // Submit need au moins un tissu et un gene
  $('#data').on('change', (evt) => {
    $('.itemTissus').each(function() {
      if($(this).prop("checked")) {
        valideTissu = true;
        $('#Poitou').removeAttr("disabled");
        return false;
      } else {
        valideTissu = false;
      }
    });

    $('.itemUnigene').each(function() {
      if($(this).prop("checked")) {
        valideUnigene = true;
        return false;
      } else {
        valideUnigene = false;
      }
    });

    $('.itemRefseq').each(function() {
      if($(this).prop("checked")) {
        valideRefseq = true;
        return false;
      } else {
        valideRefseq = false;
      }
    });

    if (valideTissu && (valideUnigene || valideRefseq)) {
      $('#Poitou').removeAttr("disabled");
    } else {
      $('#Poitou').attr("disabled", "true");
    }

  });

  // Cacher une référence de gène
  $(document).ready(function(){
    $('input[type="radio"]').click(function(){
        var inputValue = $(this).attr("value");
        var targetBox = $("." + inputValue);
        $(".test").not(targetBox).hide();
        $(targetBox).show();
    });
  });

</script>

  {% if tabObjectTissu is defined %}

<script>

// Récupération des objets envoyés via le formaulaire
tableTissus = {{ tabObjectTissu | raw}};
tableGenes = {{tabObjectGene | raw}};
tableTaux = {{tabTaux | raw}};

// Création variable contenant un objet
var tabResultat = [];

// Sauvegarde au sein de la var : nomGene, nomTissu et le taux associé
for (elem of tableTaux) {
  let unigene = '';
  for (gene of tableGenes) {
    if (gene.idGene === elem.idGene) {
      unigene = gene.uniGene;
    }
  }

  let nomTissu = '';
  for (tissu of tableTissus) {
    if (tissu.idTissu === elem.idTissue) {
      nomTissu = tissu.nomTissu;
    }
  }

  elemFinal = {
    infoNomGene: unigene,
    infoNomTissu: nomTissu,
    infoTauxExpression: elem.tauxExpression
  };
  tabResultat.push(elemFinal);
}


// Création d'un ensemble (évite doublons)

let categoriesGenes = new Set();
for (var i = 0; i < tabResultat.length; i++) {
  categoriesGenes.add(tabResultat[i].infoNomGene);
}




// Création d'un objet
let list = [];

// Création d'un ensemble (évite doublons)
// Map permet de créer une régle sur la var nomsGene
// https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/Array/map
let nomsGene = new Set(tabResultat.map(function(elem) {
  return elem.infoNomTissu;
}));

// Pour chaque gene present dans l'ensemble
for (nomGene of nomsGene) {
  // Permet de filtrer les résultats selon le Tissu
  let elemListGene = tabResultat.filter(function(elem) {
    // console.log(elem);
    return elem.infoNomTissu == nomGene;
  });
  //  console.log(elemListGene);
  //  console.log('ici');
  list.push(elemListGene);
}

// console.log(list);
// console.log('coucou');

// Création d'un objet

let donneesFinales = [];

// Création du format attendu de nos données
for (elem of list) {
  let tauxExpression = elem.map(function(souselem) {
    // Transforme string en float
    return parseFloat(souselem.infoTauxExpression);
  });
  // Selon la taille de la liste des gènes et si aucun taux est renseigné, on ajoute 0 à cet emplacement
  while (tauxExpression.length < nomsGene.length) {
    tauxExpression.push(0);
  }

  // console.log('taux expression');
  // console.log(tauxExpression);

  // Mise en place de la donnée selon le format demandé par le graphique
    let sseries = {
    name: elem[0].infoNomTissu,
    data: tauxExpression
  }
  donneesFinales.push(sseries);
}

// Debug
// console.log(donneesFinales);
// console.log('cat genre');
// console.log(Array.from(categoriesGenes));
// console.log(tabResultat);
// console.log(sseries);
// console.log(JSON.stringify(donneesFinales));



console.log(JSON.stringify(donneesFinales));

// Attribut Visuel de l'objet Graphique

Highcharts.setOptions({
    colors: ['#0b6121', '#fe642e', '#fe2e2e', '#b43104', '#fa5858', '#0000FF', '#d7df01', '#64fe2e', '#2efef7', '#f7fe2e', '#ff4000', '#642efe', '#01dfa5',  '#df01d7', '#0101df', '#886a08', '#610b21', '#0b6138', '#2a0a12', '#868a08', '#0b615e', '#088a85', '#fe2e9a', '#4e7c3e', '#a9a9f5', '#768746', '#00ffff', '#6a0888', '#151515', '#585858']
});

Highcharts.chart('container', {
    chart: {
        type: 'column',
        options3d: {
            enabled: true,
            alpha: 15,
            beta: 15,
            viewDistance: 25,
            depth: 40
        }
    },

    title: {
        text: ' Rate of expression (-LogP) '
    },

    xAxis: {
        categories: Array.from(categoriesGenes),
    },

    yAxis: {
        allowDecimals: false,
        min: 0,
        title: {
            text: 'rate of expression (-LogP) '
        }
    },

    tooltip: {
        headerFormat: '<b>{point.key}</b><br>',
        pointFormat: '<span style="color:{series.color}">\u25CF</span> {series.name}: {point.y} / {point.stackTotal}'
    },

    plotOptions: {
        column: {
            stacking: 'normal',
            depth: 40
        }
    },

    series: donneesFinales,

    credits: {
      enabled: false
    },
});


</script>
{% endif %}
</div>

{% endblock contenu %}
